<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :proficiency %><br>
  <%= f.number_field :proficiency %>
</div>
<div class="field">
  <%= f.label :duration %><br>
  <%= f.number_field :duration %>
</div>