<nav>
  <div class="nav-wrapper">
    <%= link_to 'reXume', root_path, class: 'brand-logo' %>
    <ul id="nav-mobile" class="right">
      <% if user_signed_in? %>
        <li class='<%= make_active_if_is(root_path) %>'>
          <%= link_to 'Search', root_path %>
        </li>
        <li class='<%= make_active_if_is(new_resume_path) %>'>
          <%= link_to 'New Resume', new_resume_path unless current_user.resume %>
        </li>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class='<%= make_active_if_is(new_user_session_path) %>'>
          <%= link_to 'Sign In', new_user_session_path %>
        </li>
        <li class='<%= make_active_if_is(new_user_registration_path) %>'>
          <%= link_to 'Sign Up', new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>