<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :responsibilities %><br>
  <%= f.text_area :responsibilities %>
</div>
<div class="field">
  <%= f.label :domain %><br>
  <%= f.text_field :domain %>
</div>
<div class="field">
  <%= f.label :duration %><br>
  <%= f.number_field :duration %>
</div>
<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>