<div class="project">
  <div class="row top">
    <div class="domain">
      <strong>Domain:</strong> <%= project.domain %>
    </div>
    <div class="duration">
      <strong>Duration:</strong> <%= project.duration %> months
    </div>
  </div>
  <div class="row more-info">
    <div class="col s12">
      <strong>Role:</strong> <%= project.title %>
    </div>
    <div class="col s12">
      <strong>Tools & Technologies:</strong> <%= project.tech_used %>
    </div>
    <div class="col s12">
      <strong>Project Description:</strong> <%= project.description %>
    </div>
    <div class="col s12">
      <strong>Responsibilities:</strong><br />
      <ul class="col bullets">
        <% project.responsibilities.split("\n").each do |resp| %>
          <li>
            <%= resp %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>