<div class="row address">
  <div class="col"></div>
    <%= @address.line1 %>,<br />
    <%= "#{@address.line2}," if @address.line2 %><br />
    <%= @address.city %>, <%= @address.state %><br />
    <%= @address.country %><br />
  </div>
</div>