<div class="sub-container">
  <p>
    <%= @address.line1 %>,
  </p>

  <p>
    <%= @address.line2 %>,
  </p>

  <p>
    <%= @address.city %>, <%= @address.state %>
  </p>

  <p>
    <%= @address.country %>
  </p>
</div>