<div class="field">
  <%= f.label "College Name" %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :degree %><br>
  <%= f.text_field :degree %>
</div>
<div class="field">
  <%= f.label :year_of_graduation %><br>
  <%= f.number_field :year_of_graduation %>
</div>
<div class="field">
  <%= f.label :university %><br>
  <%= f.text_field :university %>
</div>