<p id="notice"><%= notice %></p>

<h1>Listing Resume Data</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Summary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resume_data.each do |resume_datum| %>
      <tr>
        <td><%= resume_datum.name %></td>
        <td><%= resume_datum.email %></td>
        <td><%= resume_datum.phone %></td>
        <td><%= resume_datum.summary %></td>
        <td><%= link_to 'Show', resume_datum %></td>
        <td><%= link_to 'Edit', edit_resume_datum_path(resume_datum) %></td>
        <td><%= link_to 'Destroy', resume_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resume datum', new_resume_datum_path %>
