<div class="container">
  <div class="logo">
    <img src='<%= image_path("xebiaLogo.png") %>'></img>
  </div>
  <br />
  <br />
  <br />
  <p id="notice"><%= notice %></p>

  <div class="heading">
    <%= @resume_datum.name %><br />
    <span>
      Email: <%= @resume_datum.email %>
    </span><br />
    <span>
      Phone: <%= @resume_datum.phone %>
    </span>
  </div>

  <br />
  <br />
  <br />

  <p>
    <strong>Summary:</strong>
    <div class="sub-container">
      <ul>
        <% @resume_datum.summary.split("\n").each do |line| %>
          <li>
            <%= line %>
          </li>
        <% end %>
      </ul>
    </div>
  </p>

  <h3>
    Skills
  </h3>
  <div class="sub-container">
    <table>
      <thead>
        <th>Name</th>
        <th>Proficiency<br />(out of 10)</th>
        <th>Experience<br />(in months)</th>
      </thead>
    <%= render partial: 'skills/skill', collection: @skills %>
    </table>
  </div>

  <h3>
    Projects
  </h3>

  <%= render partial: 'projects/project', collection: @projects %>

  <h3>
    Education
  </h3>

  <%= render partial: 'colleges/college', collection: @colleges %>

  <h3>
    Address
  </h3>

  <%= render partial: 'addresses/show' %>

  <%= link_to 'Edit', edit_resume_datum_path(@resume_datum) %> |
  <%= link_to 'Back', resume_data_path %>
</div>